.App {
  text-align: center;
  align-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #014070 0%, #787b7b 100%);
}
.Tittle{
  color: whitesmoke;
  text-align: center;
  justify-content: space-around
}
.SubTittle{
  color: whitesmoke;
  text-align: center;
  justify-content: space-around
}